---
layout: default
---

<div class="posts">
	{% for post in site.posts %}
	<article class="post">
		<h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
		<div class="entry">
			{{ post.excerpt }}
		</div>
		<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
	</article>
	{% endfor %}
</div>

<!-- Pagination links -->
<div class="pagingCenterBox">
	<ul class="pagination clearfix">
	{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
		<li><a href="/" class="pageingFrist">이전</a></li>
		{% else %}
		<li><a href="/page{{ paginator.previous_page }}" class="pageingFrist">Prev</a></li>
		{% endif %}
	{% else %}
		<li><span class="disabled pageingFrist">이전</span></li>
	{% endif %}
	{% if paginator.page == 1 %}
		<li><span class="active pagingNum">1</span></li>
	{% else %}
		<li><a href="/" class="pagingNum">1</a></li>
	{% endif %}
		{% for count in (2..paginator.total_pages) %}
			{% if count == paginator.page %}
			<li><span class="active pagingNum">{{ count }}</span></li>
			{% else %}
			<li><a href="/page{{ count }}" class="pagingNum">{{ count }}</a></li>
			{% endif %}
		{% endfor %}
	{% if paginator.next_page %}
		<li><a href="/page{{ paginator.next_page }}" class="pageingLast">다음</a></li>
		{% else %}
		<li><span class="disabled pageingLast">다음</span></li>
		{% endif %}
	</ul>
</div>